<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.spring.portf.domain.BoardDto"/>
        <typeAlias alias="UserDto" type="com.spring.portf.domain.UserDto"/>
        <typeAlias alias="CommentDto" type="com.spring.portf.domain.CommentDto"/>
        <typeAlias alias="PictureDto" type="com.spring.portf.domain.PictureDto"/>
    </typeAliases>
</configuration>